* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
    background: #84a1c481;
}

.barraLateral {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 20px;
    border: 2px solid #377c8193;
    border-radius: 20px;
    background-color: #f0f0f0;
}

main {
    flex: 1;
}

.buscador {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #377c8193;
}
.categoria {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #377c8193;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.card {
    padding: 20px;
    border: 2px solid #82926e;
    border-radius: 20px;
}

.card h1,
.card h2,
.card p {
    font-size: 20px;
    text-align: center;
}

.card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 200px;
}

/* CATEGORIA*/

/* tablets  */
@media (min-width: 768px) {
    .container {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobile */
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}
